.images {
  margin: 0px auto;
  width: 75%;
}
.images img {
  margin: 5px 15px;
}
.partners {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  width: 100%;
}
.headingPartners {
  margin: 0px 160px;
  padding: 70px 0px;
}
.partnersLogo {
  width: 13%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .headingPartners {
    margin: -120px 0px 0px 30px;
    padding: 20px 0px;
    font-size: 28px;
  }
  .partners {
    margin-bottom: -270px;
  }
  .images {
    margin: 0px auto;
    width: 90%;
  }
  .images img {
    margin: 5px 50px;
  }

  .partnersLogo {
    width: 18%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .headingPartners {
    margin: 0px 0px 0px 30px;
    padding: 20px 0px;
    font-size: 28px;
  }
  .partners {
    margin-bottom: 0px;
    padding-bottom: 70px;
  }
  .images {
    margin: 0px auto;
    width: 90%;
  }
  .images img {
    margin: 5px 10px;
  }

  .partnersLogo {
    width: 26%;
  }
}
