/* body {
  background-color: #f1f1f1;
  background-color: #000000;
} */
#three-canvas-container {
  height: 100vh !important;
  width: 100% !important;
}
* {
  margin: 0px;
  padding: 0px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-darkMode {
  background-color: black;
}
.app-lightMode {
  background-color: white;
}
.section-heading {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 66%;
  font-size: 2.5em;
  text-align: center;
  line-height: 1.7cm;
}
.heading-news {
  padding: 10px 0px 50px 140px;
}
.heading-mediumAndsmall-screen {
  display: none;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #three-canvas-container {
    height: 80vh !important;
  }
  .section-heading {
    height: 400px;
    padding-bottom: 100px;
    padding-top: 30px;
    width: 100%;
  }
  .heading {
    display: none;
  }
  .heading-news {
    padding: 20px 0px 0px 40px;
    font-size: 30px;
    margin-bottom: -100px;
  }
  .heading-mediumAndsmall-screen {
    display: block;
    width: 90%;
    font-size: 22px;
    margin-left: 10px;
    line-height: 1.1cm;
    margin-top: -170px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #three-canvas-container {
    height: 70vh !important;
    width: 100% !important;
  }
  .heading-mediumAndsmall-screen {
    display: block;
    width: 80%;
    font-size: 24px;
    margin-left: -20px;
    line-height: 0.9cm;
    margin-top: 0px;
  }
  .section-heading {
    height: 200px;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    margin-left: 0px;
  }

  .heading {
    display: none;
  }
  .heading-news {
    padding: 0px 0px 60px 25px;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0px;
  }
}
